
<table style="width: 100%; height: 100%" class="scopeview-table">
	<tr>
		<td style="font-weight: bold;">
			<label for="scope_label">{{ scope_label }}
				<div class="scope-required-icon">*</div>
			</label>
		</td>
		<td id="scope_name_textbox"></td>
	</tr>
	<tr>
		<td></td>
		<td id="scope_title_valid"><small></small></td>
	</tr>
	<tr>
		<td style="font-weight: bold; padding: 10px 6px 10px 0px;">
			<label for="credenatial_label">{{ credenatial_label }}</label>
		</td>
		<td id="scope_credenatial_combo"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">
			<label for="desc_label">{{ desc_label }}</label>
		</td>
		<td id="scope_desc_textbox"></td>
	</tr>
</table>
