<div class="toolbar-element">

	<div class="body-content"></div>

	<div id="import_btn" title="{{import_nls_name}}"
		class="import-panel panel-icon-wrapper">
		<span class="fonticon fonticon-2x fonticon-copy"></span>
	</div>

	<div id="info_btn" title="{{information_nls_name}}"
		class="information-panel panel-icon-wrapper">
		<span class="fonticon fonticon-2x fonticon-info"></span>
	</div>

	<div id="link_btn" title="{{link_nls_name}}"
		class="link-panel panel-icon-wrapper">
		<span class="fonticon fonticon-2x fonticon-link"></span>
	</div>

	<div class="import-panel-seperator"></div>

	<div id="importzip_btn" title="{{importzip_nls_name}}"
		class="importzip-panel panel-icon-wrapper">
		<span class="fonticon fonticon-2x fonticon-folder-zipped"></span>
	</div>

</div>
